.kodluyoruz-img{
    margin-top: 150px;
    
    
}
.text{
    color:orange;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;   
}

.clock{
    color: orange;
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
}